.navbar .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fff;
  position: relative;
}

.menu-icon {
  display: none;
}

.header-button button {
    background: black;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
  }
  .header-button:hover{
    background-color: rgb(165, 163, 163);
    color: #000;
  }


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}
 .header-button {
  font-size: 16px;
  border: none;
  background: black;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
  .header-button button {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 10px;
    border: none;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 2;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}